* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 25px;
    font-size: 0;
    height: 55px;
    color: #025157;
    /* background-color: red; */
}  
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 55px;
    font-family: 'Open Sans', sans-serif;
}
.logo {
    width: 15%;
    /* background-color: blue; */
}
.logo > img {
    /* height: 100%; */
    vertical-align: middle;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
.navbar li {
    margin-right: 20px;
    font-size: 18px;
}
.actions {
    width: 15%;
    text-align: right;
}
.sign-in {
    color: #67b54b;
    text-decoration: none;
    margin-right: 15px;
    margin-right: 10px;
}
.trial-btn {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}
main {
    margin-top: 285px;
    text-align: center;
}
h1 {
    color: #025157;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}
h4 {
    margin-bottom: 30px;
}
body {
    margin: 0;
    background-color: #fffbf7;
}
button {
    color: #FFF;
    background-color: #025157;
}
li {
    display: inline
}
.signup-form {
    height: 55px;
}
.signup-form > * {
    height: 100%;
}
.email {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
}
.email-btn {
    margin-left: -10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0px 14px;
}
